*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
html{
    height: 100%;
    width: 100%;
    background-color: #252B42;
}
.cover-img {
    /* The image used */
    background-image: url("/Images/hero-cover.3.png" ); 
    height: 800px;
    /* Centered and scaled the image*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
    opacity: 0.55;
  
  }
  a{
    text-decoration: none;
    color: #f8f9ff;
    
}