
.Brand h1{
    padding:170px;
        color: #f8f9ff;
    
        
        
        
    }
    .nav-container
    {
        
        font-style: normal;
        display: flex;
        width: 100%;
        height: 10vh;
        align-items: center;
        justify-content: space-between;
        padding: 4px 4px;
        text-transform: none;
        letter-spacing: 1px;
        position:absolute;
        text-decoration: none;
        align-content: space-between;
        top: 0px;
        left: 0px;
        
    }
    .topnav-right{
        display:inline-block;
        justify-content: space-between;
        margin-right: 100px;
        padding-left: 100px;
    
    }
    .nav-responsive
    { 
        display: none;
    
    }
    .nav-responsive ul li a{
        color: #f8f9ff;
    }
    .nav-container ul
    {
      list-style:none;
      text-decoration: none;
      color: #f8f9ff;
      position: relative;
    }
    .nav-container ul li
    {
     display: inline;
     font-weight: bold;
     padding: 0 1.3px ;
     text-decoration: none;
    
    
    }
    .nav-container ul li a:hover
    {
      color:#f00606 ;
    }
    .login{
        text-align:justify;
        justify-items: right;
        color: #f8f9ff;
        text-decoration: none;
    }
    
    .Signup
    {
        align-content: flex-end;
        align-items:flex-end;
        text-transform: none;
        color: #f8f9ff;
        text-align: center;
        padding: 10px 20px;
        letter-spacing: 1px;
        font-weight: bold;
        background-color: #23A6F0;
        text-decoration: none;
        border-radius: 7%;
        border: none;
        float:inline-end;
    }
    .Signup a:hover
    {
        background:#000000;
    }
    
    
    
    